@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-hero {
  background-image: url("/images/back-wp.jpg");
}

.is-current {
  color: white;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../assets/Ubuntu/Ubuntu-Medium.ttf");
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
